<br>
<h1>Users</h1>
<hr>
<div id="accordion">
  <div class="card" *ngFor="let user of users">
    <div class="card-header" [attr.id]="'heading'+user.id">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+user.id" aria-expanded="false" [attr.aria-controls]="'collapse'+user.id">
          User: {{user.name}}
        </button>
      </h5>
    </div>

    <div [attr.id]="'collapse'+user.id" class="collapse" [attr.aria-labelledby]="'heading'+user.id" data-parent="#accordion">
      <div class="card-body">
        <h3>Permissions</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let claim of user.claims">{{claim.type}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
