<br>
<app-perform-bank-transfer></app-perform-bank-transfer>
<br>
<br>
<div class="card">
    <div class="card-header">Historical transfers</div>
    <div class="card-body">
        <form (ngSubmit)="getHistory()" [formGroup]="getHistoryForm" class="row">
            <div class="col-md-3">
                <input type="text" id="accountNumber" class="form-control" formControlName="accountNumber" placeholder="Account number">
            </div>
            <div class="col-md-7">
                <button type="submit" class="btn btn-dark">Get History</button>
            </div>
        </form>
        <br>
        <table class="table table-sm">
            <thead>
                <th>Origin Account</th>
                <th>Destination Account</th>
                <th>Amount</th>
                <th>Transaction date</th>
            </thead>
            <tbody>
                <tr *ngFor="let history of histories">
                    <td>{{history.accountOrigin}}</td>
                    <td>{{history.accountDestination}}</td>
                    <td>{{history.mount}}</td>
                    <td>{{history.dateTransfer}}</td>
                </tr>
            </tbody>
            <tfoot *ngIf="histories.length < 1">
                <td class="text-center" colspan="4">
                    <div class="alert alert-danger" role="alert">
                        No hay Registros
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
</div>
<br>